@page
@functions
{
    public string? DayName { get; set; }
    public void OnGet()
    {
        ViewData["Title"] = "SWC Bank";
        Model.DayName = DateTime.Now.ToString("dddd");
    }
}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to SWC Bank</h1>
            <p class="lead">Providing banking services since 2023.</p>
            <hr />
            <p>It's @Model.DayName! We service clients from all over New Mexico!</p>
            <p>
                <a class="btn btn-primary" href="locations">Learn more about our locations.</a>
            </p>
        </div>
    </div>

