@page
@model Bank.Web.Pages.LocationsModel
<body style="background-color:lightcyan;"></body>
<div class="row">
    <h1 style="background-color:lightcyan"class="display-2">Branch Locations</h1>
    <table class="table">
        <tbody>
        @if(Model.Locations is not null)
        {
                @foreach(string name in Model.Locations)
                {
                    <tr><td>@name</td></tr>
                }
        }
        </tbody>
    </table>
</div>

